<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/indexstyle.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <a href="https://trustfall.onrender.com/">Trustfall</a>
    </div>
    <div class="main">
        <h1>Need help with a topic?  Trustfall got you<br>COMING SOON</h1>
        <form class="waitform" action="">
            <p class="para1">What should we call you? </p>
            <input class="inp nam" name="name" type="text" required placeholder="Enter your name">
            <p class="para2">Enter your email id </p>
            <input class="inp emai" name="email" type="email" required placeholder="Enter your email">
            <br>
            <input class="tutbut" type="submit" value="Join the waitlist">
        </form>
    </div>
</body>
</html>