<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="nam_ema" action="/" method="post">
        <input class="emai" name="email" type="email" required placeholder="Email">
        <input class="nam" name="name" type="text" required placeholder="Name">
        <input type="submit" value="SUBMIT" class="sub">
    </form>
</body>
</html>