<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/registeredstyle.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Teko:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <a href="https://trustfall.onrender.com/">Trustfall</a>
    </div>
    <div class="main">
        <h1>Yay! You joined the Waitlist!<br>Trustfall is Coming Soon</h1>
    </div>
</body>
</html>